* {
    margin: 1rem;
    padding-left: 7rem;
    box-sizing: border-box;
}

body {
    background: url(/img/book-background/book-bg2.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}

.container {
    height: 35rem;
    width: 65rem;
    margin: 20px auto;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    /* background-color: white; */
    background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
    /* background: rgb(155, 198, 53); */
    /* Old browsers */
    /* background: -moz-linear-gradient(45deg, rgba(155, 198, 53, 1) 0%, rgba(192, 234, 103, 1) 99%); */
    /* FF3.6-15 */
    /* background: -webkit-linear-gradient(45deg, rgba(155, 198, 53, 1) 0%, rgba(192, 234, 103, 1) 99%); */
    /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(45deg, rgba(155, 198, 53, 1) 0%, rgba(192, 234, 103, 1) 99%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1); */
    /* IE6-9 fallback on horizontal gradient */
}

img {
    margin-top: 6rem;
    position: relative;
    height: 400px;
    width: 380px;
    right: 24rem;
    border-radius: 5px;
}

h1 {
    top: 5rem;
    position: absolute;
    left: 23rem;
}

h3 {
    top: 8rem;
    position: absolute;
    left: 23rem;
}

p {
    top: -24rem;
    position: relative;
    width: 50rem;
    left: -2rem;
    text-align: left;
}

.button {
    background-color: #353839;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    top: 32rem;
    margin-left: 8rem;
    cursor: pointer;
    width: 40rem;
    position: absolute;

}

.goback {
    background-color: #353839;
    border: none;
    color: white;
    padding: 12px 18px;
    position: absolute;
    top: 3rem;
    right: 7rem;
    border-radius: 10px;

}


@media (max-width: 600px){

    .container {
            height: 60rem;
            width: 25rem;
            margin: 20px auto;
            margin-top: 15rem;
            border-radius:70px;
            box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
            background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
            left: 1rem;
            position: absolute;
        }
    
        img {
            top: -18rem;
            position: absolute;
            height: 250px;
            width: 300px;
            right: 5.7rem;
            border-radius: 5px;
        }
    
        h1 {
            top: 5rem;
            position: absolute;
            left: -6rem;
            font-size: 25px;
            hyphens: initial;   
        }
    
        h3 {
            top: 5.3rem;
            position: absolute;
            left: 4.5rem;
        }
    
        p {
            top: 8rem;
            position: relative;
            width: 27rem;
            left: -13rem;
            text-align: left;
        }
    
        .button {
            background-color: #353839;
            border: none;
            border-radius: 5px;
            color: white;
            padding: 15px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            top: 53rem;
            left: -5.5rem;
            cursor: pointer;
            width: 20rem;
            position: absolute;
    
        }
    
        .goback {
            background-color: #353839;
            border: none;
            color: white;
            padding: 12px 18px;
            position: absolute;
            top: -17rem;
            right: 0rem;
            border-radius: 10px;
    
        }

}