.main {
    padding: 1rem 1rem;
    -webkit-box-flex: 1 ;
    -ms-flex: 1;
    flex: 1;
    position: relative; 
}

/* horizantal line */

.horizantal-line{
    width: 30%;
    height: 25px;
    border-bottom: 2.2px solid black;
    text-align: center;
    margin-left: 33rem
}
.title{
    font-size: 30px;
    background-color: white;
    padding: 0 5px;
    font-family: 'Playball', cursive;
}

/* card container */


.card-container {
    max-width: 65rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    
}

.card {
    
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.imagebg img{
    margin-left: 70px;
    margin-right: auto;
    position: relative;
    height: 12rem;
    width: 50%; 

}
footer {
    margin-top: 3rem;
}

.imagebg{
    background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
}


/* make first letter bold of list items */

.first{
    font-weight: bold;
}

.card-text {
    padding-bottom: 5px;
}

/* .pagination */

.pagination {
    display: inline-block;
    margin-top: 100px;
    margin-left: 40rem;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a:active {
    background-color: white;
    color: blue;
}

.card-body a.btn {
    margin: 0px 6px;
    padding: 5px 20px;
    color: black;
}
.btn{
     background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
}

/* carousel */

.carousel-inner {
    height: 20rem;

}

@media (max-width: 600px) {
    .carousel-inner {
        height: 20rem;
    }

    .horizantal-line{
        width: 40%;
        height: 20px;
        border-bottom: 2.2px solid black;
        text-align: center;
        margin-left: 8rem
    }
    .title{
        font-size: 25px;
        background-color: white;
        padding: 0 5px;
        font-family: 'Playball', cursive;
    }

    .card-container {
        max-width: 65rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        margin-left: 3.5rem;
        
    }

    .card {
        
        border-radius: 10px;
        overflow: hidden;
        -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
        background-color: #fff;
        -webkit-transition: 0.3s all;
        transition: 0.3s all;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .imagebg img{
        margin-left: 70px;
        margin-right: auto;
        position: relative;
        height: 12rem;
        width: 50%; 

    }
    footer {
        margin-top: 3rem;
    }

    .imagebg{
        background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
    }
    .pagination {
    display: inline-block;
    margin-top: 100px;
    margin-left: 6rem;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

    .pagination a:active {
        background-color: white;
        color: blue;
    }
}